<h3>Because Aliens</h3>

<%= link_to 'Analysis Dashboard', :dashboard %>

<%= link_to 'Map of aliens', :map %>

<%= link_to 'Random sighting comments', :comments %>
<br />

<%= image_tag('aliens.jpg', size: "860x600") %>
