<h3> Top Five Dates by Number of Sighting </h3>

<% @top_dates.each do |date, count| %>
<%= "#{date.to_date} with #{count} sightings." %>
<br />
<% end %>

<p> Is anyone detecting a pattern? </p>
<p>
   Aside from the fourth of july the only other significant events that I could dig up
   from 16 November 1999 were the following: </p>
<p> "The Chronic 2001" 2nd studio album by Dr Dre is released </p>
<p> Actor Johnny Depp steps on his "star" after being honored with the 2,149th
 star on the Hollywood Walk of Fame in Hollywood, California on November 16, 1999. </p>
